#cplcommon.py

#Common functions used by CPL410-Demos Python scripts

def getlogin(password):
    if (password == 'influxdb'):
        filename = '{{ install_dir }}/.ansible/.passwords/influxdb'
    elif (password == 'mosquitto'):
        filename = '{{ install_dir }}/.ansible/.passwords/mosquitto'
    else:
        raise ValueError('Invalid Parameter for getlogin function')
    infile = open(filename, 'r')
    password = infile.readline()
    user = 'geAdmin'
    infile.close()
    return user, password[:-1]

def getWoeId():
    filename = '{{ install_dir }}/python/common/weatherid'
    infile = open(filename, 'r')
    woeid = infile.readline()
    infile.close()
    return (woeid)

def updateWoeId():
    woeid = getWoeId().split(',')
    print "Current WOEID =", woeid[0]
    print "Current units =", woeid[1]
    newWoeid = raw_input("Enter new WOEID [Blank to keep existing woeid]: ")
    newUnits = raw_input("Enter 'c' or 'f' [Blank to keep existing units]: ")
    if newWoeid != '' or newUnits != '':
        if newWoeid == '':
            newWoeid = woeid[0]
        if newUnits == '':
            newUnits = woeid[1]
        filename = '{{ install_dir }}/python/common/weatherid'
        newData = newWoeid + ',' + newUnits
        outfile = open(filename, 'w')
        outfile.writelines(newData)
        outfile.close()

def main():
    print getWoeId()
    updateWoeId()


if __name__== '__main__': main()
