<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>Gescan/Cimtec Demos</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/app.css" rel="stylesheet" type="text/css" />
    
<!-- The following script is a 'frame breaker', which checks to see
        if the update page has been framed. If so, it deletes the frame and displays
        the standard page. This helps to prevent a clickjacking attack. -->
<script type="text/javascript">
   if (self === top) {
       var frameBreak = document.getElementById("rxBranding");
       frameBreak.parentNode.removeChild(frameBreak);
   }
   else {
       top.location = self.location;
   }
</script>
<style>
.rxWhiteBox {
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

.rxWhiteBox h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.rxWhiteBox td:nth-of-type(odd) {
    color: #575757;
    font-weight: bold;
    padding-right: 1em;
}
</style>
</head>
<body id="rxBranding">
    <div id="rxHeaderBg">
        <div id="rxHeader">
            <div id="rxGELogo"></div>
            <div id="rxHeaderTitle"><a href="index.php">CPL400<sup>*</sup> Start</a> --> Gescan/Cimtec Demos</div>
        </div>
    </div>
    <div id="rxContainer">
        <div id="rxInfoBlocks">
            <div class="rxWhiteBox">
                <h2>Grafana</h2>
                <p>Default Username: admin<br/>Default Password: admin</p>
                <table>
                    <tr>
                        <td>More Information on Grafana</td>
                        <td><a href="https://grafana.com/">Grafana Website</a></td>
                    </tr>                
                    <tr>
                        <td>Main Dashboard</td>
                        <td><a href="http://<?php system("ip -4 addr show enp1s0| grep -oP '(?<=inet\s)\d+(\.\d+){3}'");?>:3000{{ mainUrl }}">Link</a></td>
                    </tr>
                </table>
            </div>
            <div class="rxWhiteBox">
                <h2>Node-RED</h2>
                <table>
                    <tr>
                        <td>Node-RED Website</td>
                        <td><a href="https://nodered.org/">More Info</a></td>
                    </tr>                
                    <tr>
                        <td>Dashboard</td>
                        <td><a href="http://<?php system("ip -4 addr show enp1s0| grep -oP '(?<=inet\s)\d+(\.\d+){3}'");?>:1880/ui">Node-RED Dashboards</a></td>
                    </tr>
                    <tr>
                        <td>Flow Builder</td>
                        <td><a href="http://<?php system("ip -4 addr show enp1s0| grep -oP '(?<=inet\s)\d+(\.\d+){3}'");?>:1880">Node-RED Flow Builder</a></td>
                    </tr>
                </table>
            </div>            
            <div class="rxWhiteBox">
                <h2>SNMP</h2>
                <table>
                    <tr>
                        <td>What is SNMP</td>
                        <td><a href="https://en.wikipedia.org/wiki/Simple_Network_Management_Protocol">Wikipedia</a></td>
                    </tr>    
                    <tr>
                        <td>Visual SNMP</td>
                        <td><a href="https://github.com/sisraell/VisualSNMP">A simple SNMP Client</a></td>
                    </tr>      
                    <tr>
                        <td>Visual SNMP (binary)</td>
                        <td><a href="https://community.sysaid.com/Sysforums/posts/list/2287.page">Binaries for above</a></td>
                    </tr>                      
                    <tr>
                        <td>OID List</td>
                        <td><a href="oidlist.txt">Download</a></td>
                    </tr>
                </table>
            </div>
            <div class="rxWhiteBox">
                <h2>ME Project</h2>
                <table>
                    <tr>
                        <td>ME Project for Demos</td>
                        <td><a href="meproject.zip">Download</a></td>
                    </tr>
                </table>
            </div> 
            <div class="rxWhiteBox">
                <h2>Utilities</h2>
                <p>For Webmin, login with your username and password for the CPL410 (default ge:ge)</p>
                <table>
                    <tr>
                        <td>Webmin</td>
                        <td><a href="https://<?php system("ip -4 addr show enp1s0| grep -oP '(?<=inet\s)\d+(\.\d+){3}'");?>:10000">Webmin Main Page</a></td>
                    </tr>
                </table>
            </div>            
        </div>
    </div>
</body>
</html>
