apiVersion: 1

providers:
- name: 'Gescan'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3600 #how often Grafana will scan for changed dashboards
  options:
    path: {{ install_dir }}/grafana/dashboards
