<html>
<head>
  <title>Simple MQTT Alarm Server</title>
  <style>
    div.alarmPanel {
      padding: 1em;
      display: flex;
      flex-wrap: wrap;
    }
    div.alarmWidget {
      margin: 5px;
      border: 1px solid black;
      background-color: grey;
      display: flex;
      width: 200px;
      height: 200px;
      border-radius: 25px;
    }
    div.alarmWidget div.innerButton {
      width: 90%;
      margin: auto;
      height: 90%;
      background-color: white;
      display: flex;
      justify-content: center;
      border-radius: 15px;
      cursor: pointer;
    }
    div#header {
      width: 100%;
      background-color: black;
      text-align: center;
      height: 100px;
      clear: both;
    }
    div#header h1 {
      margin: auto;
      padding-top: 1em;
      color: white;
      font-weight: bold;
    }
    div.innerButton span {
      vertical-align: middle;
      margin: auto;
      font-weight: bold;
    }
    .ack {
      background-color: green !important;
    }
    .inAlarm:not(.ack) {
      background-color: red !important;
    }
  </style>
</head>
<body>
<script src="./paho-mqtt.js"></script>
<script src="./jquery-3.3.1.min.js"></script>
<script>
var client = new Paho.Client("{{ ansible_default_ipv4.address }}", 8083, "/", "myClient");

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
client.connect({userName:"geAdmin",password:"{{ mosquitto_password }}",onSuccess:onConnect});

function ackAlarm(handler) {
  console.log(handler.target.dataset.id);
  if ($(handler.target).hasClass("alarm")) {
    $(handler.target).addClass("ack");
    message = new Paho.Message(handler.target.dataset.id);
    message.destinationName = "alarms/ack";
    client.send(message);
  }
}

// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  console.log("onConnect");
  client.subscribe("alarms/alm");
  client.subscribe("alarms/ack");
  client.subscribe("alarms/rtn");
  client.subscribe("alarms/sync");
  message = new Paho.Message("EHLO");
  message.destinationName = "alarms/newclient";
  client.send(message);
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
  //console.log("onMessageArrived:"+message.payloadString);
  //console.log("Topic is: "+message.destinationName);
  switch(message.destinationName) {
    case "alarms/sync":
      console.log(message.payloadString);
      jQuery.each(JSON.parse(message.payloadString).tags, function(index, value) {
        $( '<div id="alarmWidget'+index+'" class="alarmWidget"><div id="alarmButton'+index+'" class="innerButton" data-id="'+index+'"><span>'+value.name+'</span></div></div>' ).appendTo( "#alarmPanel" );
        $('#alarmButton'+index).on('click', ackAlarm);
        if (value.alm) $( "#alarmButton"+index  ).addClass("alarm inAlarm");
        if (value.ack) $( "#alarmButton"+index  ).addClass("ack");
      });
      client.unsubscribe("alarms/sync");
      break;
    case "alarms/alm":
      $("#alarmStatus").hasClass("inAlarm") ? $( "#alarmButton"+message.payloadString  ).addClass("alarm inAlarm") : $( "#alarmButton"+message.payloadString  ).addClass("alarm");
      break;
    case "alarms/rtn":
      $( "#alarmButton"+message.payloadString  ).removeClass("alarm ack inAlarm");
      break;
    case "alarms/ack":
      $( "#alarmButton"+message.payloadString  ).addClass("ack")
      break;
    default:
  }
}

// blink anything in alarm
setInterval(function(){
  $(".alarm,#alarmStatus").toggleClass("inAlarm");
  },500)
</script>
<div id="wrapper">
<div id="header"><h1>Alarm Anunciator Panel</h1></div>
<div id="alarmPanel" class="alarmPanel active">
<div style="display:none;" id="alarmStatus"/>
</div>
</div>
</body>
</html>
