[Unit]
Description=A simple alarm anunciation service using MQTT
After=network.target
Requires=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/env python {{ install_dir }}/python/alarmServer.py
WorkingDirectory={{ install_dir }}/python
Restart=on-failure

[Install]
WantedBy=multi-user.target

